*,
html,
body {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: pirulen;
  /* src: url(pirulen\ rg.ttf); */
  src: url("../fonts/pirulen rg.ttf");
}
@font-face {
  font-family: lemon-milk;
  /* src: url(pirulen\ rg.ttf); */
  src: url(../fonts/LEMONMILK-Bold.otf);
}

h1 {
  font-family: pirulen;
  font-weight: bold;
}
h1:nth-of-type(2) {
  font-family: lemon-milk;
  font-size: 3em;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}
p {
  width: 640px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
h1#monoton1 {
  font-family: "Monoton", cursive;
  font-size: 5em;
  letter-spacing: 5px;
  word-spacing: 1em;
  font-weight: 400; /*remind students to add this */
}
section {
  width: 60%;
  padding: 2em;
}
p {
  width: 100%;
}
section.first:nth-of-type(1),
section.first:nth-of-type(3) {
  background-color: blanchedalmond;
}
section.first:nth-of-type(1) {
  position: fixed;
  /* box-sizing: border-box; */
  z-index: 2;
  /* 
    top:100px;
    left:100px;
    right:100px;
    bottom:100px; */
}
section.first:nth-of-type(2) {
  background-color: khaki;
  position: relative;
  top: 157px;
}
section.first:nth-of-type(3) {
  position: relative;
  top: 157px;
   /* bottom: 0;  */
}
section.first:nth-of-type(3) p {
  /* position: absolute;
    bottom:0px; */
}
#second {
  width: 100vw;
  height: 768px;
  background-color: #000;
  position: relative;
}
.test {
  height: 100%;
  width: 33.33%;
  position: absolute;
  box-sizing: border-box;
}
#test1 {
  left: 0;
  background-color: blanchedalmond;
}
#test2 {
  left: 33.33%;
  top: 100px;
  background-color: khaki;
}
#test3 {
  left: 66.66%;
  top: 200px;
  background-color: blanchedalmond;
}


div#content1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0015B0;
}
div#content1>section {
  width: 50%;
  border: 10px solid #B3AD00;
  /* border: 20px solid transparent; */

  border-radius: 15px;
  /* border-image: url('../images/pattern.svg') 50% stretch; */
  /* border-image: url('../images/pattern.svg') 10% fill; */
}
div#content1>section>h1 {
  letter-spacing: 10px;
  text-align: center;
  /* color: #FFF; */
  font-size: 1.5em;
}
div#content1>section>h1>a {
  text-decoration: none;
  color: #FFF;
}
div#content1>section>h1>a:hover {
  color: #6CB7B8;
}

div#content1>section>form {
  margin-top: 1em;
}
div#content1>section>form>input {
  padding: 0.5em;
  margin-left: 1em;
}

div#content1>section>form>input:focus {
  background-color: #6CB7B8;
}
div#content1>section>form>input:blur {
  background-color: #0015B0;
}

div#content1>section>form>label{
  font-family: 'Roboto', sans-serif; 
  color: #FFF917;
}

/* 
font-family: 'Monoton', cursive;
font-family: 'Roboto', sans-serif; 


// #6CB7B8 bluegreen
// #FFFFFF white
// #0015B0 darkblue
// #B3AD00  gold
// #FFF917 yellow
*/
